/* FOGLIO DI STILE CSS ORDINATO ALFABETICAMENTE per
  TAGS - CLASSI - ID
  Media Query in fondo*/

/* TAGS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}
header{
  display: flex;
}
hr{
  margin: 12px 0;
}
section{
  background-color: #141922;
  margin-left: 250px;
  padding-bottom: 130px;
}
section::after{
  content: "";
  display: table;
  clear: both;
}
footer{
  display: block;
}
/* CLASSI */

/* inizio sezione .canzoni */
.canzoni{
  padding-top: 110px;
}
.canzoni::after{
  content: "";
  display: table;
  clear: both;
}
.canzoni-evidenza > ul > li{
  display: inline-block;
  font-size: 14px;
  padding: 20px 10px;
}
.canzoni-evidenza > ul > li > a:hover{
  border-bottom: yellow 2px solid;
  color: white;
}
.canzoni-evidenza > ul > li > a{
  text-decoration: none;
  color: grey;
}
.canzoni-evidenza > ul{
  text-align: center;
}
.canzoni-recently{
  margin: 0 20px;
}
.canzoni-recently > h2{
  color: white;
  font-size: 26px;
  padding-bottom: 40px;
}
 .canzoni-sez > img{
  padding-right: 15px;
  width: 100%;
  z-index: 2;
}
.canzoni-sez{
  width: 50%;
  float: left;
  text-align: center;
}
.canzoni-sez-hover > img{
  padding-right: 15px;
  width: 100%;
}
.canzoni-sez-hover{
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
}
.canzoni-sez-text > span{
  color: grey;
}
.canzoni-sez-text > h4{
  padding: 12px 7px 8px 2px;
  font-size: 18px;
  line-height: 18px;
  color: white;
}
.canzonidue{
  float: left;
  width: 33%;
}
.canzonidue::after{
  content: "";
  display: table;
  clear: both;
}
.canzoni-sez-hover:hover .hover{
  display: block;
}
.canzoni-sez-hover:hover{
  cursor: pointer;
}

.hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 92%;
  height: 100%;
  font-size: 60px;
  display: none;
  padding-top: 25%;
  background-color: rgba(0, 0, 0, 0.15);
}
.hover > a{
  color: white;
}

.installa-app{
  height: 100px;
  background-color: black;
  width: 250px;
  position: fixed;
  bottom: 110px;
  padding: 10px 25px;
  z-index: 3;
}
.installa-app > a{
  color: grey;
  text-decoration: none;
  padding-bottom: 15px;
}
.installa-app > a:hover{
  color: white;
}
.installa-app > a > span{
  padding-left: 10px;
}
.installa-proflilo{
  vertical-align: middle;
}
.installa-profilo > img{
  height: 40px;
  width: 40px;
  background-color: grey;
  border-radius: 50%;
  vertical-align: middle;

}
.installa-profilo > h4{
  color: white;
  display: inline-block;
  padding-left: 15px;
  vertical-align: middle;
}

/* inizio sezione .john-doe */
.john-doe{
  padding-top: 50px;
  margin: 0 20px;
}
.john-doe-hover{
  position: relative;
}
.john-doe-hover > img{
  padding-right: 15px;
  width: 100%;
}
.john-doe-img{
  width: 16.66%;
  float: left;
  text-align: center;
}
.john-doe-img > h4{
  padding: 12px 7px 8px 2px;
  font-size: 18px;
  line-height: 18px;
  color: white;
}
.john-doe::after{
  content: "";
  display: table;
  clear: both;
}
.john-doe > h2{
  color: white;
  font-size: 26px;
  padding-bottom: 5px;
}
.john-doe > p{
  color: grey;
  font-size: 17px;
  padding-bottom: 20px;
}
.john-doe-hover:hover .hover{
  display: block;
}
.john-doe-hover:hover{
  cursor: pointer;
}

/* inizio sezione left */
.left{
  height: 100%;
  width: 250px;
  flex-direction: column;
  background-color: black;
  position: fixed;
  display: flex;
}
.left > img{
  padding: 7px 0;
  height: 58px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.left > span{
  color: grey;
  font-size: 18px;
}
.left > h3{
  color: white;
  padding: 10px 0 20px 20px;
}
.left > span::before{
  display: inline-block;
  content: "+";
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 35px;
  text-align: center;
  line-height: 37px;
  vertical-align: middle;
  color: black;
  margin-left: 20px;
  border-radius: 5px;
}
.left > span:hover{
  color: white;
  cursor: pointer;
}
.leftmenu > li > a > img {
  height: 37px;
  margin-left: 20px;
  padding-bottom: 8px;
  float: left;
}
.leftmenu > li > a > span{
  float: left;
  padding-top: 7px;
  padding-left: 5px;
  color: grey;
}
.leftmenu > li > a{
  display: inline-block;
}
.leftmenu > li > a > span:hover{
  color: white;
}
.leftmenu > li > a:hover{
  border-left: 3px yellow solid;
}
.leftlist{
  padding-left: 20px;
  margin-top: 15px;
  overflow-y: auto;
}
.leftlist > li{
  padding-top: 20px;
}
.leftlist > li > a{
  text-decoration: none;
  color: grey;
}
.leftlist > li > a:hover{
  color: white;
}

/* inizio sezione .fissata */
.fissata{
  position: fixed;
  top: 0;
  left: 250px;
  width: 100%;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.fissata > button{
  float: right;
  margin-right: 255px;
  margin-top: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.0);
  padding: 15px 43px;
  border: white solid 1px;
  border-radius: 50px;

}
.fissata > button:hover{
  cursor: pointer;
  font-size: 14px;
}
.circ{
  border-radius: 50%;
}
/* inizio sezione .popular */
.popular{
  padding-top: 50px;
  margin: 0 20px;
}
.popartist-hover > img{
  padding-right: 15px;
  width: 100%;
  height: 101%;
  border-radius: 100%;
}
.popartist-hover{
  position: relative;
}
.popartist{
  width: 16.66%;
  float: left;
  text-align: center;
}
.popartist > h4{
  padding: 12px 7px 8px 2px;
  font-size: 18px;
  line-height: 18px;
  color: white;
}
.popartist-hover:hover .hover{
  display: block;
}
.popartist-hover:hover{
  cursor: pointer;
}
.popular::after{
  content: "";
  display: table;
  clear: both;
}
.popular > h2{
  color: white;
  font-size: 26px;
  padding-bottom: 5px;
}
.popular > p{
  color: grey;
  font-size: 17px;
  padding-bottom: 20px;
}
.barra-ascolto{
  height: 110px;
  background-color: #282828;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.barra-ascolto > span{
  display: inline-block;
}
.barra-cuore{
  display: inline-block;
  float: left;
  height: 100px;
  vertical-align: middle;
  right: 0;
  padding-top: 20px;
  padding-left: 30px;
}
.barra-cuore > a{
  color: grey;
}
.barra-cuore > a:hover{
  color: white;
}
.barra-riproduzione{
  padding: 25px 15px;
  width: 30%;
  float: left;
}
.barra-rip-line{
  display: inline-block;
  padding-left: 15px;
  float: left;
}
.barralist{
  width: 70%;
  float: left;
  padding-left: 16vw;
  padding-top: 20px;
}
.barralist > ul > li{
  display: inline-block;
  font-size: 22px;
  vertical-align: middle;
  padding: 0 10px;
}
.barralist > ul > li:hover{
  font-size: 24px;
}
.barralist > ul > li > a{
  color: white;
}
.barralist > ul{
  padding-top: 15px;
}
.barra-rip-line > a, .barra-rip-line > p > a{
  color: white;
  text-decoration: none;
}
.barra-rip-line > a:hover, .barra-rip-line > p > a:hover{
  text-decoration: underline;
}
.barra-riproduzione > img{
  width: 60px;
  float: left;
}

/* ID */

#play{
  font-size: 42px;
}
#play:hover{
  font-size: 46px;
}


@media screen and (min-width:1101px){
  #logop{
    display: none;
  }
}
@media screen and (min-width:700px) and (max-width:1100px){
  .canzonidue {
    width: 50%;
    padding-bottom: 15px;
  }
  #logop, .barra-cuore > a{
    display: none;
  }
  .john-doe-img, .popartist{
    width: 25%;
  }
  .pad{
    padding-bottom: 110px;
  }
}
@media screen and (min-width:550px) and (max-width:700px){
  #logop, .barra-cuore > a{
    display: none;
  }
  .barralist{
    padding-left: 0;
  }
  .barra-riproduzione{
    width: 40%;
  }
  .barralist{
    width: 60%;
  }
  .canzonidue{
    width: 100%;
    padding-bottom: 35px;
  }
  .john-doe-img, .popartist{
    width: 50%;
  }
}
@media screen and (max-width:549px){
  .leftmenu > li > a > span, #logo, .left > h3, .left > span, .leftlist, .installa-app > a > span, .installa-profilo > h4, .barra-rip-line > p{
    display: none;
  }
  .barralist{
    padding-left: 10vw;
  }
  .barra-rip-line{
    padding-left: 0;
  }
  .barra-riproduzione{
    width: 20%;
  }
  #logop, .barra-cuore > a{
    padding-top: 15px;
  }
  .leftmenu > li > a > img{
    margin-top: 15px;
  }
  .left, .installa-app{
    width: 70px;
  }
  section {
    margin-left: 70px;
  }
  .fissata{
    left: 70px;
  }
  .canzonidue{
    width: 100%;
    padding-bottom: 35px;
  }
  .john-doe-img, .popartist{
    width: 50%;
  }
  .fissata > button {
    margin-right: 90px;
  }
  .installa-app {
    padding-left: 15px;
    padding-right: 15px;
  }
  .installa-app > a{
    padding-left: 12px;
  }
}
